:root {
    --timing: 400ms;
    --rotation: 20deg;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: url('Background2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.2vw;
    background-blend-mode: darken;
}
nav {
    display: flex;
    justify-content: space-between; /* Aligns logo to the left and list to the right */
    width: 100%;
    align-items: center;
}

.logo {
    width: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    padding: 0 10px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: calc(50% - (50% / 2));
    background-color: #fff;
}

nav ul li a:hover {
    background-color: #c9c9c9; /* Gray color on hover */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #C68C4F;
    z-index: 1;
    border-radius: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img {
    max-width: 100%;
}
.yoda-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Adjust as needed */
    margin-top: 120px; /* Add some top margin for spacing */
}
.yoda {
    width: 350px;
    aspect-ratio: 11 / 16;
    position: relative;
    transform-style: preserve-3d;
    transition: rotate var(--timing) ease;
  }
  
  .yoda:hover {
    rotate: x var(--rotation);
  }
  
  .yoda::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
    background-image: radial-gradient(circle, transparent 150px, black);
    opacity: 0;
    transition: opacity var(--timing);
  }
  
  .yoda:hover::before {
    opacity: 1;
  }
  
  .yoda::after {
    content: "";
    position: absolute;
    inset: 80% 0.5rem 0.5rem;
    translate: 0;
    transform: translateZ(-100px);
    background: black;
    filter: blur(1rem);
    z-index: 1;
    transition: rotate var(--timing), translate var(--timing);
  }
  
  .yoda:hover::after {
    rotate: x calc(var(--rotation) * -1);
    translate: 0 60px;
  }
  
  .yoda .bg-image {
    position: absolute;
    z-index: 10;
    height: 100%;
    object-fit: cover;
    object-position: -80px center;
  }
  
  
  
  .yoda .logo {
    position: absolute;
    z-index: 1000;
    width: 25%;
    margin-inline: auto;
    inset: auto 0 2rem;
    transform: translateY(0rem) translateZ(20px);
    transition: var(--timing);
  }
  
  .yoda:hover .logo {
    transform: translateY(-2rem) translateZ(20px);
    rotate: x calc(var(--rotation) * -1);
  }
  
  .yoda .front-image {
    position: absolute;
    scale: 1.125;
    transform-origin: bottom;
    opacity: 0;
    z-index: 100;
    transition: var(--timing);
  }
  
  .yoda:hover .front-image {
    opacity: 1;
    transform: translateY(-2rem) translateZ(-10px);
    rotate: x calc(var(--rotation) * -1);
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 99.5%;
    color: white;
    text-align: right;
    margin-top: 2rem;
}
footer a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

footer a:hover img {
    transform: scale(1.2);
}
  @media screen and (max-device-width: 480px), screen and (max-width: 768px) {
    body{
    background-image: url('Background2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    .content {
        order: 1;
    }
    
    .yoda-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 135px;
    }
    
    nav {
        flex-direction: row;
    }
    
    .logo {
        margin-bottom: 20px;
        position: absolute; /* Positions the logo at the top left */
        top: 0;
        left: 0;
    }
    
    nav ul {
        flex-direction: row;
        align-items: center;
        position: absolute; /* Positions the list at the top right */
        top: 0;
        right: 0;
    }
    
    nav ul li {
        font-family: monospace;
        padding: 36px 0.5px; /* Increase padding for better usability */
        font-size: 11.7px; /* Increase font size for better readability */
        
    }
    footer {
        text-align: bottom; /* Center align for mobile */
        margin-top: 2rem;
    }

    footer a img {
        width: 40px; /* Reduce size for mobile */
        height: 40px; /* Reduce size for mobile */
    }
    .yoda {
        width: 60%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform var(--timing) ease;
        margin-top: -25px; /* Adjust this value based on the height of your nav bar */
        order: 2;
        transform-origin: center;
    }
    
    .yoda:hover {
        transform: rotateX(var(--rotation));
    }
    

    .yoda::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 100;
        background-image: radial-gradient(circle, transparent 150px, black);
        opacity: 0;
        transition: opacity var(--timing);
    }

    .yoda:hover::before {
        opacity: 1;
    }

    .yoda::after {
        content: "";
        position: absolute;
        inset: 80% 0.5rem 0.5rem;
        translate: 0;
        transform: translateZ(-50px);
        background: black;
        filter: blur(1rem);
        z-index: 1;
        transition: rotate var(--timing), translate var(--timing);
    }

    .yoda:hover::after {
        rotate: x calc(var(--rotation) * -1);
        translate: 0 30px;
    }

    .yoda .logo {
        z-index: 100;
        width: 25%;
        margin-inline: auto;
        inset: auto 0 2rem;
        transform: translateX(-0.25rem) translateY(-1rem) translateZ(20px);
        transition: var(--timing);
    }

    .yoda:hover .logo {
        transform: translateX(-0.5rem) translateY(-1rem) translateZ(50px);
        rotate: x calc(var(--rotation) * -1);
    }

    .yoda .front-image {
        scale: 1;
        transform-origin: bottom;
        opacity: 0;
        z-index: 100;
        transition: var(--timing);
    }
    .yoda:hover .front-image {
        opacity: 1;
        transform: translateX(-0.25rem) translateY(-3rem) translateZ(-10px);
        rotate: x calc(var(--rotation) * -1);
    }
    .yoda .bg-image {
        scale: 1;
        position: absolute;
        z-index: 10;
        height: 81.5%;
        width: 100%; /* Make sure the image covers the entire .yoda element */
        object-fit: cover;
        object-position: center; /* Center the image within .yoda */
    }

    .yoda .logo,
    .yoda .front-image {
        margin-bottom: 20px;
    }
}
@media screen and (min-width:980px) and (max-width:1200px) {
    body{
        background-image: url('Background2.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    .content {
        order: 1;
    }
    
    .yoda-container {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 80vh;
        margin-top: 30px;
    }
    
    nav {
        flex-direction: row;
    }
    
    .logo {
        margin-bottom: 20px;
        position: absolute; /* Positions the logo at the top left */
        top: 0;
        left: 0;
    }
    
    nav ul {
        flex-direction: row;
        align-items: center;
        position: absolute; /* Positions the list at the top right */
        top: 0;
        right: 0;
    }
    
    nav ul li {
        font-family: monospace;
        padding: 36px 0.5px; /* Increase padding for better usability */
        font-size: 11.7px; /* Increase font size for better readability */
        
    }
    footer {
        text-align: bottom; /* Center align for mobile */
        margin-top: 2rem;
    }

    footer a img {
        width: 40px; /* Reduce size for mobile */
        height: 40px; /* Reduce size for mobile */
    }
    .yoda {
        width: 23.5%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform var(--timing) ease;
        margin-top: 200px; /* Adjust this value based on the height of your nav bar */
        order: 2;
        transform-origin: top center;
    }
    
    .yoda:hover {
        transform: rotateX(var(--rotation));
    }
    

    .yoda::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 100;
        background-image: radial-gradient(circle, transparent 150px, black);
        opacity: 0;
        transition: opacity var(--timing);
    }

    .yoda:hover::before {
        opacity: 1;
    }

    .yoda::after {
        content: "";
        position: absolute;
        inset: 80% 0.5rem 0.5rem;
        translate: 0;
        transform: translateZ(-50px);
        background:black ;
         filter : blur(1rem);
         z-index :1 ;
         transition : rotate var(--timing), translate var(--timing);
     }

     .yoda:hover::after{
         rotate : x calc(var(--rotation) * -1);
         translate :0 30px ;
     }

     .yoda .logo{
         z-index :100 ;
         width :25% ;
         margin-inline : auto ;
         inset : auto 0 2rem ;
         transform : translateX(-0.5rem) translateY(2rem) translateZ(20px);
         transition : var(--timing);
     }

     .yoda:hover .logo{
         transform : translateX(-0.5rem) translateY(1rem) translateZ(50px);
         rotate : x calc(var(--rotation) * -1);
     }

     .yoda .front-image{
         scale :1 ;
         transform-origin : bottom ;
         opacity :0 ;
         z-index :100 ;
         transition : var(--timing);
     }

     .yoda:hover .front-image{
         opacity :1 ;
         transform : translateX(-0.25rem) translateY(-3rem) translateZ(-10px);
         rotate : x calc(var(--rotation) * -1);
     }

     .yoda .bg-image{
         scale :1 ;
         position:absolute ;
         z-index :10 ;
         height :100% ;
         width :200% ; 
          object-fit : cover ;
          object-position:center ; 
      }

      .yoda .logo,
      .yoda .front-image{
          margin-bottom :20px ;
      }
}


